    <header class="header">
      <a href="#home" class="logo">Fiummba <span>Coder</span></a>

      <i class="fa-solid fa-bars" id="menu-icon"></i>

      <nav class="navbar">
        <a href="#home" class="active">Home</a>
        <a href="#info">Info</a>
        <a href="#projects">Projects</a>
        <a href="#contact">Contact</a>
      </nav>
    </header>

    <section class="home" id="home">
      <div class="home-img">
        <img src="https://i.pinimg.com/736x/d9/35/bd/d935bd4374774acdc8491c8cb2a9c9e1.jpg" alt="" />
      </div>
      <div class="home-content">
        <h1>I'm <span>Daniel Medina</span></h1>
        <h3 class="text-animation"><span></span></h3>
        <p>
          Desarrollador web con experiencia en diseño y desarrollo de
          aplicaciones web utilizando tecnologias front-end y back-end. Experto
          en crear soluciones interactivas y funcionales
        </p>
        <div class="social-icons">
          <a href="#"><i class='bx bxl-github'></i></a>
          <a href="#"><i class='bx bxl-linkedin' ></i></a>
          <a href="#"><i class='bx bx-envelope' ></i></a>
        </div>
        <a href="#contact" class="btn">Contact Me</a>
      </div>
    </section>

    <section class="info" id="info">
      <div class="info-content">
        <h2 class="heading">Info<span> Me</span></h2>
        <h3 class="text-animation">
          <span></span>
        </h3>
        <p>
          Creativity itself is an essential engine that drives visual
          innovation. Who among us doesn't strive for perfection in every
          stroke, in every design? Often, those who hesitate to explore new
          shapes and colors miss the opportunity to create something memorable.
          But those who embrace aesthetics with passion, like true digital
          artists, transform ideas into impactful experiences.
        </p>
        <a href="#" class="btn">Read More</a>
      </div>

      <div class="info-img">
        <img src="/images/mood.png" alt="" />
      </div>
    </section>

    <section class="projects" id="projects">
      <h2 class="heading">Projects</h2>
      <h2 class="heading">**COMING SOON**</h2>

      <div class="bg-amber-200 p-10 w-full h-fit flex justify-center items-center">
        <app-card-projects></app-card-projects>
        <app-card-projects></app-card-projects>
        <app-card-projects></app-card-projects>
        <app-card-projects></app-card-projects>
      </div>
    </section>

    <section class="contact" id="contact">
      <h2 class="heading">Contact <span>Me</span></h2>

      <form action="#">
        <div class="input-box">
          <input type="text" placeholder="Full Name" />
          <input type="email" placeholder="Email" />
          <input type="number" placeholder="Phone Number" />
          <input type="text" placeholder="Subject" />
        </div>
        <textarea
          name=""
          id=""
          cols="30"
          rows="10"
          placeholder="Your Massage"
        ></textarea>
        <input type="submit" value="Send Massage" class="btn" />
      </form>
    </section>

    <footer class="footer">
      <div class="social">
        <a href="#"><i class='bx bxl-github'></i></a>
        <a href="#"><i class='bx bxl-linkedin' ></i></a>
        <a href="#"><i class='bx bx-envelope' ></i></a>
      </div>
      <ul class="list">
        <li>
          <a href="#">Projects</a>
        </li>
        <li>
          <a href="#">Info</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
      <p class="copyright"> Fiumba Coder | All Rights Reserved</p>
    </footer>

    <script src="script.js"></script>


<!--<router-outlet></router-outlet>-->