.sombra2{
    -webkit-box-shadow: 10px 10px 79px -50px rgba(149,159,189,0.68);
    -moz-box-shadow: 10px 10px 79px -50px rgba(149,159,189,0.68);
    box-shadow: 10px 10px 79px -50px rgba(149,159,189,0.68);
}

.sombra{
    box-shadow: 0 0 10px #566dac;
}