<div class="w-[400px] h-[400px] bg-gray-700 flex flex-col rounded-lg sombra" >
    <div class="w-full h-[50%] rounded-t-lg">
        <img [src]="proyecto.urlImagen" alt="" class="object-cover w-full h-full rounded-t-lg" />
    </div>
    <div class="h-full flex flex-col justify-between p-5">
        <div>
            <h2 class="font-bold text-4xl">{{proyecto.nombreProyecto}}</h2>
            <p class="font-normal">{{proyecto.descripcionProyecto}}</p>
        </div>
        <div class="flex gap-2">
            <a class="w-10 h-10 bg-[#566dac] p-1 rounded-full text-2xl items-center flex justify-center text-white hover:bg-white hover:text-[#566dac]" [href]="proyecto.urlGitHub"><i class='bx bxl-github'></i></a>
            <a class="w-10 h-10 bg-[#566dac] p-1 rounded-full text-2xl flex items-center justify-center text-white hover:bg-white hover:text-[#566dac]" [href]="proyecto.urlProyecto"><i class='bx bx-link-alt'></i></a>
        </div>
    </div>
</div>
